<%- include("../includes/head.ejs") %>
    <%- include("../includes/navigation.ejs") %>
    
    <main>
        <ul class="cart">
                <% cartItems.forEach(item => { %>
                    <li class="cart-item">
                        <h1><%= item.productId.title %></h1>
                        <h2>Quantity: <%= item.quantity %></h2>
                        <div class="cart-actions">
                            <form action="">
                                <input type="hidden" name="productId" value="item.productId._id">
                                <button type="submit" class="btn btn-decrease">-</button>
                            </form>
                            <form action="">
                                <input type="hidden" name="productId" value="item.productId._id">
                                <button type="submit" class="btn btn-increase">+</button>
                            </form>
                            <form action="/delete-cart-item" method="POST">
                                <input type="hidden" name="productId" value="item.productId._id">
                                <button type="submit" class="btn btn-delete">Delete</button>
                            </form>
                        </div>
                        
                    </li>
                <% }) %>
        </ul>
    </main>
<%- include("../includes/end.ejs") %> 